
<style>
  body {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  div.dialog > div {
    border: 1px solid #048AB0;
    border-top: #048AB0 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-color: #BBB;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  h1 {
    font-size: 100%;
    color: #023E4F;
    line-height: 1.5em;
  }

  div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #048AB0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #AAA;
    font-size: 10px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

</style>

<div class="dialog">
  <div>
    <h1>Thanks for requesting an iOS Beta invite for instanews</h1>
    <p>You should recieve an email soon from Apple that will tell you how to proceed</p>
  </div>
  <p>This link is no longer valid so please do not share it with others</p>
</div>
